<head>

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<title>
{{ page.title }} &middot; {{ site.title }}
</title>

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">

<!-- Use $ for inline math and $$ for display math -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

</head>
